{
	"presets": [["next/babel"]],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@components": "./components",
					"@enums": "./enums",
					"@fonts": "./fonts",
					"@localization": "./localization",
					"@services": "./services",
					"@styles": "./styles"
				}
			}
		],
		[
			"console-source",
			{
				"segments": 2,
				"splitSegment": "/"
			}
		],
		[
			"react-directives",
			{
				"prefix": "r",
				"pragmaType": "React"
			}
		]
	]
}
