@import './icons';

@font-face {
	font-family: 'Roboto';
	src: url('./src/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('./src/Roboto-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cinzel';
	src: url('./src/Cinzel-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src: url('./src/icons.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
