$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1210px;
$xl: 1500px;

$sm-content-width: 560px;
$md-content-width: 910px;
$lg-content-width: 1150px;
$xl-content-width: 1430px;

$breakpoints-min: (
	'xs': $xs,
	'sm': $sm,
	'md': $md,
	'lg': $lg,
	'xl': $xl
);

$breakpoints-max: (
	'xs': $sm - 1,
	'sm': $md - 1,
	'md': $lg - 1,
	'lg': $xl - 1,
	'xl': 99999px
);
