@import './modules/breakpoints';
@import './modules/grid';
@import './modules/positioning';
@import './modules/spacing';
@import './modules/typography';

html,
body {
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overscroll-behavior-x: none;
}
